.bg{
    z-index: 1;
    position: absolute;
    min-width: 80%;
    min-height: 101%;
    margin-left: -10px;
    /*background-color:#803b00;*/
    background-image: url('../../assets/images/wooden.jpg');
    box-shadow: 1px 7px 8px 0px;
}

.board{
   box-shadow: 3px 3px 5px; 
   margin-top: -3%;
   padding-top: 5%;
   height: 105.5%;
}

iframe{
    margin-top: 10%;
    height: 400px;
    width: 650px;
}


h3{
    color: #fff !important;
    font-family: cursive !important;
    /*transform: rotate(-10deg);*/
    text-align: left;
}

.player{
    margin-left: 2%;
    margin-top: 3%;
    text-align: center;
    position: absolute;
    background-image: url('../../assets/images/green.jpg');
    height: 92%;
    width: 96%;
    padding-top: 4%;
    box-shadow: -3px -3px 5px;
}

.script{
    float: right;
}

.sidemenu{
    min-width: 21%;
    right: 0;
    position: absolute;
    min-height: 101%;
    box-shadow: -1px 5px 5px 1px;
    padding-left: 3%;
    padding-right: 2%;
    overflow: auto;
    background-image: url('../../assets/images/bg.jpg');
}

  .sidemenu::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .sidemenu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .sidemenu::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    outline: 1px solid slategrey;
  }
select{
    border-radius: 3px;
    padding: 3px 3px 4px;
    font-family: cursive !important;
    font-size: small !important;
    box-shadow: 2px 2px 2px 0px;
}

.shelf{
    padding-top: 10%;
    font-family: cursive;
    margin-bottom: 10%;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

label{
    color: #000;
}

.book{
    background-color: #f90;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 1px;
    font-weight: 400;
    font-family: fantasy;
    color: #000;
    text-align: center;
    box-shadow:3px 3px 4px 0px;
    cursor: pointer;
}
.now-playing{
    background-color: #ff0;
}
