.thread{
    margin-left: -8px;
    min-height: 102%;
    min-width: 102%;
    padding-top: 10%;
    background-image: url('../../assets/images/fourmbg.jpg');
    position: absolute;
}
.model-background{
    margin-left: -8px;
    min-height: 102%;
    overflow: hidden;
    min-width: 102%;
    z-index: 5;
    position: absolute;    
    background-color: rgba(100, 100, 100, 0.5);
}

label{
    font-family: cursive;
}

.btn{
    font-family: cursive;
}

.btn.btn-lg{
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.btn.btn-lg.btn-select{
    background-color: #f60;
}

button.btn.btn-primary{
    margin-left: 30%;
}

select.form-control{
    min-width: 192px !important;
}

.tab-page{
    height: 100%;
    min-height: 320px;
    min-width: 100%;
    background-color: #fff;
    padding: 2% 2% 2% 2%;
    margin-top: 7.5%;
    box-shadow: 0px 1px 1px 1px;
    border-top: 2px solid;
    padding-left: 18%;
    cursor: default;
}

.tab{ 
    padding-left: 0px !important;
    padding-right: 0 !important;
    box-shadow: 1px -1px 1px;
    border-right: 1px solid;
    border-left: 2px solid;
}

input[type='text']{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
input[type='password']{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
input[type='email']{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
select{
    font-size: 12px;
}
.model{
    min-height: 62%;
    min-width: 52%;  
    z-index: 6;
    position: absolute;
    margin-top: 10%;
    margin-left: 22%;
    background-image: url('../../assets/images/wooden.jpg');
    box-shadow: 3px 1px 9px;  
    cursor : move;
    padding: 2% 2% 2% 2%;
}

.close{
    float: right;
    height: 30px;
    width : 30px;
    opacity: 10 !important;
}

.dragging{
    visibility: hidden;
}

.login-item{
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-left: 32%;
    margin-top: 2%;
}
.oauth{
    margin-top: 5%;
    padding-left: 27%;
    font-family: cursive;
    font-size: large;
}

.error
{
    padding-left: 18%;
    color: red;
}