@keyframes collapsed{
    0% { margin-top: 0px; }
    100% { margin-top: -245px; }
}

@-webkit-keyframes collapsed{
    0% { margin-top: 0px; }
    100% { margin-top: -245px; }
}

@keyframes expand{
    0% { margin-top: -245px; }
    100% { margin-top: 0px; }
}

@-webkit-keyframes expand{
    0% { margin-top: -245px; }
    100% { margin-top: 0px; }
}

@keyframes disappear{
    0% { visibility: visible }
    99% { visibility: visible }
    100% { visibility: hidden }
}

@-webkit-keyframes disappear{
    0% { visibility: visible }
    99% { visibility: visible }
    100% { visibility: hidden }
}

.bar-collapsed{
    width: 102%;
    z-index: 10;
    position: absolute;
    margin-top: -245px;
    animation-name: collapsed;
    -webkit-animation-name: collapsed;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    position: fixed;
}

.bar-expanded{
    width: 102%;
    z-index: 10;
    position: absolute;
    margin-top: 0px;
    animation-name: expand;
    -webkit-animation-name: expand;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    position: fixed;
}

.header{
    width: 102%;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: -1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 0.8%;
    box-shadow:  0px 3px 3px 0px;
}
.header-expanded{
    width: 102%;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 1%; 
    height: 250px;
}

.bar-collapsed .header-expanded{
    animation-name: disappear;
    -webkit-animation-name: disappear;
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    visibility: hidden;
}

.title{
    color: #f80;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    font-family: cursive;
    text-shadow: 2px 2px 3px #000;
}

.title:hover{
    color: #fff;
}

.links{
    color: #fff;
    font-weight: 400;
    font-size: 20px; 
    margin-top: 0.3%; 
    cursor: pointer;
    font-family: cursive;
    text-shadow: 2px 2px 3px #000;
}

.links:hover{
    color: #fff;
    text-shadow: -3px 2px 13px;
}

.technologies{
    color: #f80;
    padding-top: 2%;
    text-align: center;
    margin-right: 5%;
    font-size: 30px;
    text-shadow: 2px 2px 3px #000;
    font-family: cursive;       
}

.blue{
    color: #fff !important;
    font-size: 17px !important;
    font-weight: 400 !important;
    font-family: cursive !important;
}

.blue:hover {
    color: #fff !important;
    text-shadow: -3px 2px 13px !important;
}

.search-bar{
    width: 40%;
    margin-left: 25%;
    margin-top: 1px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2% 1% 4%;
    box-shadow:  0px 1px 1px 1px;
}

input[type="text"]{
    background-color: rgba(255, 255, 255, 0.7);
}

.result-box{
    margin-top: 1px;
     box-shadow: 0px 1px 1px 1px;
}

.results{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10% 5px;
    border-bottom: 1px;
    border-color: #000;
}

.no-results{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10% 5px;
    border-bottom: 1px;
    border-color: #000;
}

.sub-result{
    float: right;
}

.results:hover{
    background-color: #77f;
    color: #fff;
}

.btn-primary{
    background-color: #227 !important;
}

.profile{
    text-align: right;
    margin-top: 0.3%;     
}

.side-menu-btn{
    height: 7%;
    width: 7%;
    margin-right: 10%;
    cursor: pointer;
    border-radius: 75px;
    border: medium black;
    box-shadow: 0px 1px 3px;
}

.sidemenu{
    right: 0;
    z-index: 8;
    position: absolute;
    box-shadow: -1px 2px 2px 1px;
    overflow: auto;
    min-width: 200px;
    text-align: center;
}
