<div [ngClass]="{'bar-collapsed' : !expand,'bar-expanded' : expand}">
  <div class="row header-expanded" (mouseleave)="ExpandBar()"  [ngStyle]="{ 'background-color' : barColor }">
    <div class="technologies">
        <div class="col-lg-4" *ngFor="let domain of HeaderData"><h3>{{domain.domain}}</h3>
            <ul>
              <li class="btn btn-link blue" [routerLink]="['/classroom',subject]" *ngFor="let subject of domain.subjects.$values">{{subject.subject}}</li>
            </ul>
        </div>
    </div>
  </div>
  <div class="row header" [ngStyle]="{ 'background-color' : barColor }">
    <div class="col-sm-3"><span class="title" [routerLink]="['/']">NgLearn</span></div>
    <div class="col-sm-1 links" [routerLink]="['/']">Home</div>
    <div class="col-sm-1 links" [routerLink]="['/classroom']">Classroom</div>
    <div class="col-sm-1 links" [routerLink]="['/connect']">Connect</div>
    <div class="col-sm-1 links" (click)="DisplaySearch()">Search</div>
    <div class="col-sm-1 links" (click)="ExpandBar()">Tutorials</div>
    <div class="col-sm-4 profile">
      <span class="links" (click)="ShowMenu()">Achin Saxena</span>      
      <img src="../assets/images/profile.png" class="side-menu-btn" (click)="ShowMenu()">
    </div>
  </div>
  <div class="search-bar animated" *ngIf="ShowSearch" [ngClass]="{ 'flipInX' : ShowSearch,'flipOutX' : !ShowSearch }" [ngStyle]="{ 'background-color' : barColor }">
  <div class="col-sm-10">
    <form #myform="ngForm">
    <input type="text" name="find" placeholder="Search the technology by name e.g. Java" class="form-control" [(ngModel)]="term" (ngModelChange)="ViewResults(term);"  required/>
    </form>
    <div class="result-box" *ngIf="ShowResults">
      <div class="no-results" *ngIf="(SearchData | filter:term).length === 0">No Matches found</div>
      <div class="results" (click)="term = subject.child.subject;obj=subject.child;ShowResults = false" *ngFor="let subject of SearchData | filter:term">{{subject.child.subject}}
      <small class="sub-result">{{subject.domain}}</small>
      </div>
    </div>
  </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" [routerLink]="['/classroom',obj]" [disabled]="!myform.form.valid || ShowResults == true">Search</button>
    </div>    
  </div>
  <div class="sidemenu" [ngStyle]="{ 'background-color' : barColor }"  *ngIf="IsMenu"></div>
</div>
<div>
  <router-outlet></router-outlet>
  <div>